{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}

<table>
    <thead></thead>
        <tr>
            <th>ID</th>
            <th>Modèle</th>
            <th>Année</th>
        <th></th>
        </tr>
    </thead>
    <tbody>

        {% for car in cars %}
            
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td></td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}
